<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxpcxt.dao.EnterpriseMapper">
    <insert id="saveEnterprise" parameterType="EnterPrise">
        insert into enterprise(name,linkman,address,phone,fundTime,size,workers,industryId,owerName,owerPost,owerPhone,owerOffice) 
        values(#{name},#{linkman},#{address},#{phone},#{fundTime},#{size},#{workers},#{industryId},#{owerName},#{owerPost},#{owerPhone},#{owerOffice})
    </insert>
    
    <delete id="deleteEnterpeiseById" parameterType="Long">
        delete from enterprise where id=#{id}
    </delete>
    <select id="getEnterpriseById" parameterType="Long" resultType="Enterprise">
        select * from enterprise where id=#{id}
    </select>
    <update id="updateEnterprise" parameterType="Enterprise">
        update enterprise set linkman=#{linkman},address=#{address},phone=#{phone},fundTime=#{fundTime},size=#{size},workers=#{workers},industryId=#{industryId},owerName=#{owerName},owerPost=#{owerPost},owerPhone=#{owerPhone},owerOffice=#{owerOffice}
    </update>
    <select id="getEnterpriseIdByName" parameterType="String" resultType="Enterprise">
        select * from enterprise where name=#{name}
    </select>
    <select id="getAllEnterpriseByAddress" parameterType="String" resultType="Enterprise">
        select * from enterprise where address=#{address}
    </select>
    <select id="selectAllEnterpriseInfo" resultType="Enterprise">
        select * from enterprise
    </select>
</mapper>