<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxpcxt.dao.HazardClearRecordsMapper">
    <insert id="saveHazardClearRecords" parameterType="HazardClearRecords">
        insert into hazardClearRecords
        (hazardId,enterpriseId,checkerId,checkImg,checkReception,checkTime,status,hazardLevel,changerId,changeImg,changeReception)
         values
         (#{hazardId},#{enterpriseId},#{checkerId},#{checkImg},#{checkReception},#{checkTime},#{status},#{hazardLevel},#{changerId},#{changeImg},#{changeReception},#{inspectionBasis})
    </insert>
    
    <delete id="deleteHazardClearRecordsById" parameterType="Long" >
        delete from hazardClearRecords where id=#{id}
    </delete>
    
    <update id="updateHazardClearRecords" parameterType="HazardClearRecords" >
        update hazardClearRecords set checkImg=#{checkImg},checkReception=#{checkReception},status=#{status},hazardLevel=#{hazardLevel},changeImg=#{changeImg},changeReception=#{changeReception} where id=#{id} 
    </update>
    <select id="getHazardClearRecordsAll" resultType="HazardClearRecords">
        select * from hazardClearRecords 
    </select>
    <!-- <select id="getEnterPriseHazardClearRecords"  resultType="HazardClearRecords">
        select * from hazardClearRecords where enterpriseId=#{arg0} or hazardType=#{arg1}
    </select> -->
    <select id="getHazardClearRecordsById" parameterType="Long" resultType="HazardClearRecords">
        select * from hazardClearRecords where id=#{id} 
    </select>
   <!--  <select id="getChangeRecordsByType" parameterType="String" resultType="HazardClearRecords">
        select * from hazardClearRecords where hazardType=#{hazardType} and status = "已排查"
    </select>
    <select id="hazardRecordsRecheck" resultType="HazardClearRecords">
        select * from hazardClearRecords where status="已整改" and changeStstus="审核中" and hazardType=#{hazardType}
    </select> -->
    
    
    <select id="getEnterPriseHazardClearRecords" resultType="HazardClearRecords">
        select * from hazardClearRecords where enterpriseId=#{arg0} or hazardType=#{arg1} and status = "未处理" or status ="已排查" 
    </select>
    <select id="getChangeRecordsByType"  resultType="HazardClearRecords">
        select * from hazardClearRecords where enterpriseId=#{arg0} or hazardType=#{arg1} and status = "已排查"
    </select>
    <select id="hazardRecordsRecheck" resultType="HazardClearRecords">
        select * from hazardClearRecords where enterpriseId=#{arg0} or hazardType=#{arg1} and status="已整改" and changeStatus="审核中"
    </select>
</mapper>